# Ignore everything by default
*

# But include these folders and files
!restaurant-frontend/
!restaurant-frontend/**
!restaurant-backend/
!restaurant-backend/**
!.gitignore

# Exclude node_modules and other unnecessary files
restaurant-frontend/node_modules/
restaurant-backend/env/
*.pyc
__pycache__/
.env
